
:root {
    --fuente-principal: Arial, Helvetica, sans-serif;
    --tamaño-fuente: 18px;
    --color-principal-n: black;
    --color-principal-b: white;
    --background-color: rgb(34, 34, 34);
}
/*----- DOCUMENTO -----*/
* {
    font-family: var(--fuente-principal);
    font-size: var(--tamaño-fuente);
}

/* ---- NAV ----*/

nav {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: var(--color-principal-n);
}

.boton {
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo-tema {
    width: 20px;
    height: 20px;
}

/*------- BODY -------*/

/*------- TEMAS -------*/
.temaClaro {
    background-color: var(--color-principal-b);
    color: var(--color-principal-n);
    transition: background-color 0.3s, color 0.3s;
}

.temaOscuro {
    background-color: var(--background-color);
    color: var(--color-principal-b);
    transition: background-color 0.3s, color 0.3s;
}

.temaClaroLetra {
    color: var(--color-principal-n);
}

.temaOscuroLetra {
    color: var(--color-principal-b);
}

body h1 {
    font-size: 30px;
}

/*----- INFO -----*/

.container-info {
    margin-top: 80px;
    display: flex;
    justify-content: row;
    justify-content: space-evenly;
    padding: 0 300px;
}

.container-foto {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    background-image: url(../img/fotoCV.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease;
}

.container-foto:hover {
    background-image: url(../img/logoGit.png);
}

.container-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-info p {
    width: 25rem;
}

/*---- ESTUDIOS ----*/

.container-estudios {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-estudios {
    height: fit-content;
}

.lista-estudios li {
    margin-bottom: 10px;
}
/*------ PROYECTOS ------*/

.apartado-proyectos {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-proyectos p {
    margin: 0;
}

.proyecto-pos {
    display: flex;
    flex-direction: row;
    gap: 25px;
    text-decoration: none;
    width: 500px;
    color: var(--color-principal-n);
}

.tarjeta {
    transition: transform 0.3s ease 0.1s;
}

.tarjeta:hover {
    transform: scale(1.02);
}

.descripcionProyecto {
    color: gray;
    font-size: 15px;
    padding: 3px 0px;
}

/* -----  TECNOLOGIAS E IDEs -----*/

.container-tech {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container-ides {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container-logos {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.border-B {
    border: 1px solid var(--color-principal-n);
    border-radius: 5px;
    padding: 1.25rem;
    /* box-shadow: 5px 5px 12px -7px rgba(0,0,0,0.75); */
}

.border-W {
    border: 1px solid var(--color-principal-b);
    border-radius: 5px;
    padding: 1.25rem;
    /* box-shadow: 5px 5px 12px -7px rgba(255,255,255,0.75); */
}

.tecnologia-img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    filter: brightness(90%);
}

.tecnologia-img:hover {
    transform: scale(1.2);
    filter: brightness(100%) drop-shadow(2px 4px 5px rgba(0,0,0,0.75));
}

/*------ REPOSITORIOS -----*/

.selectorClaro,
.selectorOscuro {
    font-size: 16px;
    width: 190px;
    height: 30px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.selectorClaro {
    background-color: var(--color-principal-b);
    color: var(--background-color);
    border: 2px solid var(--color-principal-n);

}

.selectorOscuro {
    background-color: var(--background-color);
    color: var(--color-principal-b);
    outline: none;
    border: 2px solid var(--color-principal-b);
}

#repositorios:hover {
    cursor: pointer;
}

.selectorClaro:focus,
.selectorOscuro:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.selectorClaro:hover {
    background-color: #333;
    color: #f2f2f2;
}

.selectorOscuro:hover {
    background-color: #f2f2f2;
    color: #333;
}

/*----- CONTACTO ------*/

.container-contacto {
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-contacto {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.mensaje-contacto a {
    text-decoration: none;
}

.mensaje-contacto a:hover {
    color: orange;
    text-decoration: underline;
}

/*---- FOOTER ----*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-copy {
    /* margin-top: 80px; */
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a {
    text-decoration: none;
}

a:hover {
    color: orange;
    text-shadow: 1px 1px 15px rgba(175, 175, 175, 0.7);
}